<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>E-commerce Database Manager</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Choose the action to perform on databases</h1>
        <section>
            <a href="/addCustomer">Add another customer</a>
            <br>
            <a href="/searchCustomer">Search another customer</a>
        </section>
    </header>
</body>
</html>
